<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Display info</title>
</head>
<body>
    <div class="container">
        <h1>Attributes of the Rectangle</h1><hr>
        <% data.forEach(function(dataRow){ %>
        <div class="showInfo">
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>width</th>
                        <th>Height</th>
                        <th>Color</th>
                        <th>Age</th>
                    </tr>
                    <% var _id = dataRow._id %>
                    <% var name=dataRow.name; var ID=dataRow.ID; %>
                    <% var width=dataRow.width; var height=dataRow.height; var colorLen = dataRow.color; %>
                    <% var color=dataRow.color; var age=dataRow.age;%>
                    <tr>
                        <td><%= ID %></td>
                        <td><%= name %></td>
                        <td><%= width %></td>
                        <td><%= height %></td>
                        <td><%= color %></td>
                        <td><%= age %></td>
                    </tr>
                </tbody>
            </table>
        </div><br/>
        <div class="buttons">
            <a href="/rectangle/delete/<%=_id%>"><button class="btn btn-raised btn-danger">Delete</button></a>
            <a href="/rectangle/update/<%=_id%>"><button class="btn btn-warning">Modify</button></a>
        </div>
        <% }); %>
    </div>
</body>
</html>