<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Rectangles App</title>
</head>
<body>
    <div class="container">
        <h1 class="d-inline">Rectangles</h1>
        <a href='/rectangle'><button id="create" class="d-inline btn btn-info float-right">Create New</button></a><hr/>
        <ul>
        <% data.forEach(function(dataRow){ %>
            <% var _id=dataRow._id; %>
            <% var width=dataRow.width; %>
            <% var height=dataRow.height; %>
            <% var color=dataRow.color; %>
            <li>
                <a href='/rectangle/get/<%=_id%>'><svg width="<%= width %>" height="<%= height %>">
                    <rect id="rect" width="<%= width %>" height="<%= height %>" style="fill: <%= color %>" />
                </svg></a>
                <span><%= dataRow.name %></span>
            </li>
        <% }); %>
        </ul>
    </div>
</body>
</html>